
* {box-sizing: border-box}


/* Add padding to container elements */
.contain {
    box-sizing: border-box;
    width:80%;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Extra styles for the cancel button */
.modal .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    margin-bottom: 10px;
}
/* Float cancel and signup buttons and add an equal width */
.modal .cancelbtn{
    width: 100%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: inherit;
    padding-top: 50px;
    box-sizing: border-box;
}


/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #0f0f0f;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


/*form sytle*/
.form_container
{
    margin-top:50px;
    background-color: transparent;
    color: #0f0f0f;
}
