#search_action{
    /*background-color: #adadad;*/
    background-color: #d5d5d5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#search_action:hover,
#search_action:focus {
    color: #2196F3;
    cursor: pointer;
}


#inputForPetNames {
  background-image: url('../images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#membershipOverviewTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#membershipOverviewTable th, #membershipOverviewTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#membershipOverviewTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#membershipOverviewTable tr.header, #membershipOverviewTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

