<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Admin Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="../favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon.ico/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end of favicon-->

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!--For Plugins external css-->
    <link rel="stylesheet" href="../assets/css/plugins.css" />
    <link rel="stylesheet" href="../assets/css/roboto-webfont.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../assets/css/customize.css">
    <link rel="stylesheet" href="../assets/css/membershipManagement.css" />
    <link rel="stylesheet" href="../assets/css/adminSetting.css">
    <link rel="stylesheet" href="../assets/css/button.css" />

    <!--JS-->
    <script src="../assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="../assets/js/firebase_action.js"></script>
    <script src="../assets/js/validation.js"></script>
    <script src="../assets/js/admin.js"></script>
    <script src="https://kit.fontawesome.com/7692abe868.js" crossorigin="anonymous"></script>
</head>

<body>
    <section id="social" class="social">
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="social-wrapper">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="social-icon pull-right">
                            <a href="#"><i class="fa fa-user"></i><spam id="userEmail" ></spam></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand"><img src="../assets/images/logo.png" style="width: 200px; height: 40px"
                        alt="Logo" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./home.html">Overview</a></li>
                    <li><a href="./membermanagement.html">VIP Management</a></li>
                    <li><a href="./transactionreview.html">Transaction Review</a></li>
                    <li><a href="./export.html">Data Exportation</a></li>
                    <li id="adminsection"><a href="./admin.html">Admin</a></li>
                    <li class="login" onclick="signout()" style="width:auto;"><a>Sign Out</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Sections -->
    <section id="business" class="portfolio sections">
        <div class="container">
            <div class="head_title text-center">
                <h1>Admin Management</h1>
            </div>

            <div class="row">
                <div class="portfolio-wrapper text-center">

                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('member_info_edit_modal').style.display='block'">
                        <div class="community-edition">
                            <i class="fas fa-user-edit"></i>
                            <div class="separator"></div>
                            <h4>会员信息修改</h4>
                            <p>Edit member Info</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('transaction_info_edit_modal').style.display='block'">
                        <div class="community-edition">
                            <i class="fas fa-edit"></i>
                            <div class="separator"></div>
                            <h4>交易信息修改</h4>
                            <p>Edit Transaction</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('employee_search_modal').style.display='block'">
                        <div class="community-edition">
                            <i class="fas fa-donate"></i>
                            <div class="separator"></div>
                            <h4>员工提成</h4>
                            <p>Employee Commission</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('edit_setting_modal').style.display='block'; loadingSetting()">
                        <div class="community-edition">
                            <i class="fa fa-gears"></i>
                            <div class="separator"></div>
                            <h4>设置</h4>
                            <p>Edit Setting</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="portfolio-wrapper text-center">

                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('add_employee_modal').style.display='block'">
                        <div class="community-edition">
                            <i class="fa fa-user-plus"></i>
                            <div class="separator"></div>
                            <h4>添加员工</h4>
                            <p>Add Employee</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('edit_employee_modal').style.display='block'">
                        <div class="community-edition">
                            <i class="fas fa-user-cog"></i>
                            <div class="separator"></div>
                            <h4>修改员工信息</h4>
                            <p>Edit Employee</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('add_admin_role_modal').style.display='block'">
                        <div class="community-edition">
                            <i class="fas fa-user-tie"></i>
                            <div class="separator"></div>
                            <h4>添加登入用户</h4>
                            <p>Add acct user</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12"
                        onclick="document.getElementById('edit_admin_role_modal').style.display='block'">
                        <div class="community-edition">
                            <i class="fas fa-sitemap"></i>
                            <div class="separator"></div>
                            <h4>修改管理者权限</h4>
                            <p>Edit admin role to user</p>
                        </div>
                    </div>


                </div>

            </div>
    </section>


    <!--会员信息修改-->
    <div id="member_info_edit_modal" class="modal">
        <span onclick="document.getElementById('member_info_edit_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        <section class="price sections">
            <div class="contain">
                <div class="tab-content">

                    <div class="head_title text-center">
                        <h1>会员信息修改</h1>
                    </div>

                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <h3>请输入会员号查询</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-3 form-group">
                                <input type="text" class="form-control" id="memberIdSearchingForEditInfo"
                                    placeholder="请输入会员账号" required>
                            </div>

                            <div class=" col-sm-2 form-group">
                                <button type="submit" class="form-control btn-primary"
                                    onclick="findMemberByIdForEditInfo()">查询</button>
                            </div>
                        </div>
                    </div>

                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="memberIdInfo">会员账号</label>
                                <input type="text" class="form-control" id="memberIdInfo" readonly>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="memberNameInfo">会员姓名</label>
                                <input type="text" class="form-control" id="memberNameInfo" required>
                            </div>


                            <div class="col-sm-4 form-group">
                                <label for="memberPetNameInfo" class="required">宠物姓名</label>
                                <input type="text" class="form-control" id="memberPetNameInfo" required>
                            </div>


                            <div class="col-sm-4 form-group">
                                <label for="memberPetBreedInfo">宠物品种</label>
                                <input type="text" class="form-control" id="memberPetBreedInfo">
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="memberPetGenderInfo">宠物性别</label>
                                <select class="form-control" id="memberPetGenderInfo">
                                    <option value="unknown" selected>未知</option>
                                    <option value="m">男</option>
                                    <option value="f">女</option>
                                </select>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="memberJoinDateInfo" class="required">办理日期</label>
                                <input id="memberJoinDateInfo" type="date" class="form-control" required></input>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="memberPhoneInfo" class="required">电话</label>
                                <input type="tel" class="form-control" id="memberPhoneInfo" placeholder="(123)456-7890"
                                    pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                            </div>



                            <div class="col-sm-4 form-group">
                                <label for="memberBalanceInfo" class="required">余额</label>
                                <input id="memberBalanceInfo" class="form-control" type="text" name="currency-field"
                                    pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" placeholder="$1,000.00" required></input>
                            </div>



                            <div class="col-sm-4 form-group">
                                <label for="memberDiscountRateInfo" class="required">会员折扣</label>
                                <input id="memberDiscountRateInfo" type="number" class="form-control"></input>
                            </div>

                            <div class="col-sm-4 form-group"></div>

                            <div class="col-sm-4 form-group">
                                <label for="addNewMemberByEmployeeInfo">办理员工</label>
                                <select id="addNewMemberByEmployeeInfo" class="form-control" type="text"></select>
                            </div>


                            <div class="col-sm-4 form-group">
                                <label for="addNewMemberNoteInfo">备注</label>
                                <input id="addNewMemberNoteInfo" type="text" class="form-control"></input>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">

                                <div class="buttoncontainer">
                                    <a class="button button--hoo" onclick="updateMemberInfo()">
                                        <div class="button__wrapper">
                                            <span class="button__text">保存</span>
                                        </div>
                                        <div class="characterBox">
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character">
                                                <div class="character__face"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

    </div>

    <!--交易信息修改-->
    <div id="transaction_info_edit_modal" class="modal">
        <span onclick="document.getElementById('transaction_info_edit_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        <section class="price sections">
            <div class="contain">
                <div class="tab-content">

                    <div class="head_title text-center">
                        <h1>交易信息修改</h1>
                    </div>

                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <h3>请输入交易查询号</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-3 form-group">
                                <input type="text" class="form-control" id="transactionIdSearchingForEditInfo"
                                    placeholder="请输入订单查询号" required>
                            </div>

                            <div class=" col-sm-2 form-group">
                                <button type="submit" class="form-control btn-primary"
                                    onclick="findTransactionByIdForEditInfo()">查询</button>
                            </div>
                        </div>
                    </div>

                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="transactionIdInfo">交易号</label>
                                <input type="text" class="form-control" id="transactionIdInfo" readonly>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="transactionTypeInfo">消费类型</label>
                                <select id="transactionTypeInfo" class="form-control" type="text" disabled>
                                    <option value="newMember">开户</option>
                                    <option value="addCredit">充值</option>
                                    <option value="spendCredit">消费</option>
                                </select>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="transactionMemberIdInfo">会员号</label>
                                <input type="text" class="form-control" id="transactionMemberIdInfo" readonly>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="transactionStatusInfo">交易状态</label>
                                <input type="text" class="form-control" id="transactionStatusInfo" readonly>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="transactionDiscountRateInfo">折扣</label>
                                <input id="transactionDiscountRateInfo" type="number" class="form-control"
                                    readonly></input>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="transactionDateInfo" class="required">交易日期</label>
                                <input id="transactionDateInfo" type="date" class="form-control" required></input>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="transactionAmountInfo"  class="required" >价格</label>
                                <input id="transactionAmountInfo" class="form-control" type="text"
                                    placeholder="$1,000.00" required></input>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="transactionByEmployeeInfo">交易员</label>
                                <select id="transactionByEmployeeInfo" class="form-control" type="text"></select>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="transactionNoteInfo">备注</label>
                                <textarea id="transactionNoteInfo" rows="4" class="form-control"></textarea>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">

                                <div class="buttoncontainer">
                                    <a class="button button--hoo" onclick="voidTransactionInfo()">
                                        <div class="button__wrapper">
                                            <span class="button__text">VOID</span>
                                        </div>
                                        <div class="characterBox">
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character">
                                                <div class="character__face"></div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>



                            <div class="col-sm-6 form-group">

                                <div class="buttoncontainer">
                                    <a class="button button--hoo" onclick="updateTransactionInfo()">
                                        <div class="button__wrapper">
                                            <span class="button__text">UPDATE</span>
                                        </div>
                                        <div class="characterBox">
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character">
                                                <div class="character__face"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>


    <!-- 员工提成查询-->
    <div id="employee_search_modal" class="modal">

        <span onclick="document.getElementById('employee_search_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <!-- Sections -->
        <section class="price sections">
            <div class="container">
                <div class="head_title text-center">
                    <h1>员工提成查询</h1>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-sm-2 form-group">
                            <select id="search_employeeId_selection" type="text" class="form-control">
                                <option value="" selected>员工名字</option>
                            </select>
                        </div>

                        <div class="col-sm-1 form-group">
                            <input name="search_commission_start_date_label" type="text" class="label-control"
                                value="From"></input>
                        </div>


                        <div class="col-sm-2 form-group">
                            <input id="search_commission_start_date" type="date" class="form-control"></input>
                        </div>

                        <div class="col-sm-1 form-group">
                            <input name="search_commission_end_date_label" type="text" class="label-control"
                                value="To"></input>
                        </div>

                        <div class="col-sm-2 form-group">
                            <input id="search_commission_end_date" type="date" class="form-control"></input>
                        </div>


                        <div class="col-sm-2 form-group">
                        </div>


                        <div class="col-sm-2 form-group">
                            <button id="search_action" class="form-control" type="button"
                                onclick="searchTransactionsForCommission()">Search</button>
                        </div>
                    </div>

                    <div class="table-wrapper">

                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h2>员工提成信息</h2>
                                </div>
                                <div class="col-sm-7">
                                    <a class="btn btn-primary"><i class="material-icons">&#xE227;</i><span
                                            id="commission_total">0</span></a>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>工号</th>
                                    <th>新会员账号</th>
                                    <th>金额</th>
                                    <th>交易号</th>
                                    <th>日期</th>
                                </tr>
                            </thead>
                            <tbody id="commissionInfo_table"></tbody>
                        </table>

                    </div>

                </div>

            </div>
        </section>

    </div>

    <!--更改设置-->
    <div id="edit_setting_modal" class="modal">

        <span onclick="document.getElementById('edit_setting_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <section class="price sections">

            <div class="contain">

                <div class="form_container">

                    <div class="row">
                        <div class="col-sm-4 form-group"></div>
                        <div class="container col-sm-4 form-group">
                            <h2 class="title" style="position: relative">Configration Setting</h2>

                            <div class="settings">
                                <span class="settings__title field-title">settings</span>
                                <div class="setting">
                                    <input type="checkbox" id="emailNotification" />
                                    <label for="emailNotification">Transaction Email Notification</label>
                                </div>
                                <div class="setting">
                                    <input type="checkbox" id="discountRateEditable" />
                                    <label for="discountRateEditable">Discount Rate Editable</label>
                                </div>

                                <div class="setting">
                                    <input type="checkbox" id="discountRateAutoApply" />
                                    <label for="discountRateAutoApply">Discount Rate Auto Applied</label>
                                </div>
                                <div class="setting">
                                    <input type="checkbox" id="duplicatedPhoneCheck" />
                                    <label for="duplicatedPhoneCheck">Duplicated Phone Check</label>
                                </div>
                            </div>

                            <button class="btn generate" onclick="updateSetting()">Update</button>
                        </div>

                    </div>

                </div>

            </div>

        </section>
    </div>

    <!--添加员工-->
    <div id="add_employee_modal" class="modal">
        <span onclick="document.getElementById('add_employee_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <section class="price sections">

            <div class="contain">

                <div class="tab-content">

                    <div class="head_title text-center">
                        <h1>添加员工</h1>
                    </div>


                    <div class="form_container">


                        <div class="row">

                            <div class="col-sm-3 form-group">
                                <label for="employeeIdForAdding">工号</label>
                                <input type="text" class="form-control" id="employeeIdForAdding" readonly>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="employeeNameForAdding" class="required">姓名</label>
                                <input type="text" class="form-control" id="employeeNameForAdding">
                            </div>


                            <div class="col-sm-3 form-group">
                                <label for="employeePositionForAdding">职位</label>
                                <input type="text" class="form-control" id="employeePositionForAdding">
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="employeePhoneForAdding">电话</label>
                                <input type="tel" class="form-control" id="employeePhoneForAdding">
                            </div>


                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <button type="submit" class="btn btn-lg btn-default pull-right"
                                        onclick="addEmployee()">添加</button>
                                </div>
                            </div>



                        </div>
                        <div class="table-wrapper">

                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h2>员工信息</h2>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>职位</th>
                                        <th>电话</th>
                                    </tr>
                                </thead>
                                <tbody id="employeeInfo_table"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

        </section>
    </div>

    <!--员工信息修改-->
    <div id="edit_employee_modal" class="modal">
        <span onclick="document.getElementById('edit_employee_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        <section class="price sections">
            <div class="contain">
                <div class="tab-content">

                    <div class="head_title text-center">
                        <h1>员工信息修改</h1>
                    </div>

                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <h3>请输入工号查询</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-3 form-group">
                                <input type="text" class="form-control" id="employeeIdSearchingForEditInfo"
                                    placeholder="请输入工账号" required>
                            </div>

                            <div class=" col-sm-2 form-group">
                                <button type="submit" class="form-control btn-primary"
                                    onclick="findEmployeeByIdForEditInfo()">查询</button>
                            </div>
                        </div>
                    </div>

                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="employeeIdInfo">员工账号</label>
                                <input type="text" class="form-control" id="employeeIdInfo" readonly>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="employeeNameInfo" class="required">员工姓名</label>
                                <input type="text" class="form-control" id="employeeNameInfo" required>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="employeePhoneInfo">员工电话</label>
                                <input type="tel" class="form-control" id="employeePhoneInfo"
                                    placeholder="(123)456-7890" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="employeePositionInfo">员工职位</label>
                                <input type="text" class="form-control" id="employeePositionInfo">
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="employeeNoteInfo">备注</label>
                                <textarea id="employeeNoteInfo" rows="4" class="form-control"></textarea>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">

                                <div class="buttoncontainer">
                                    <a class="button button--hoo" onclick="updateEmployeeInfo()">
                                        <div class="button__wrapper">
                                            <span class="button__text">保存</span>
                                        </div>
                                        <div class="characterBox">
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character wakeup">
                                                <div class="character__face"></div>
                                            </div>
                                            <div class="character">
                                                <div class="character__face"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

    </div>

    <!--添加用户-->
    <div id="add_admin_role_modal" class="modal">
        <span onclick="document.getElementById('add_admin_role_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <section class="price sections">

            <div class="contain">

                <div class="tab-content">

                    <div class="head_title text-center">
                        <h1>添加用户</h1>
                    </div>


                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="acctUserIdForAdd" class="required">用户ID</label>
                                <input type="text" class="form-control" id="acctUserIdForAdd">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="acctUserEmailForAdd" class="required">用户邮箱</label>
                                <input type="email" class="form-control" id="acctUserEmailForAdd">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="acctUserRoleForAdd">管理者权限</label>
                                <select class="form-control" id="acctUserRoleForAdd">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button type="submit" class="btn btn-lg btn-default pull-right"
                                onclick="addAcctUser()">添加</button>
                        </div>
                    </div>
                </div>
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2>用户账户信息</h2>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>邮箱</th>
                                <th>管理者权限</th>
                            </tr>
                        </thead>
                        <tbody id="acctUserInfo_table"></tbody>
                    </table>
                </div>
            </div>
    </div>


    <!--修改管理者权限-->
    <div id="edit_admin_role_modal" class="modal">
        <span onclick="document.getElementById('edit_admin_role_modal').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <section class="price sections">

            <div class="contain">

                <div class="tab-content">

                    <div class="head_title text-center">
                        <h1>修改管理者权限</h1>
                    </div>


                    <div class="form_container">

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="adminRoleEmailForUpdate" class="required">邮箱</label>
                                <input type="email" class="form-control" id="adminRoleEmailForUpdate">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="isAdminRoleForUpdate">管理者权限</label>
                                <select class="form-control" id="isAdminRoleForUpdate">
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button type="submit" class="btn btn-lg btn-default pull-right"
                                onclick="updateAdminRole()">修改</button>
                        </div>
                    </div>
                </div>
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2>用户账户信息</h2>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>邮箱</th>
                                <th>管理者权限</th>
                            </tr>
                        </thead>
                        <tbody id="acctUserInfo_table_copy"></tbody>
                    </table>
                </div>
            </div>
    </div>

    </section>
    </div>


    <!--Footer-->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright">
                            <p> © 2023, Rex Chen, All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>